<p>Hi, <%= @c_name %></p>

<p>
  <%= @user.first_name %> with email <%= @user.email %> just registered! Click the link below if they're really with you. <br>
  
</p>

<!-- <%= link_to("Yes I know them", "http://localhost:3001/users/#{@user.confirm_token}/confirmation") %> -->
<h3>The link below will verify you behind the scenes, and take you back to our homepage. Try signing in after, and you'll be able to do stuff!</h3>

<%= link_to("Yes I know them", api_v1_user_confirmation_url(@user.confirm_token)) %>


<p>Cheers, <br> The Good Carma Team</p>